
# node packages
node_modules/

# stuff
/files/css
/files/font-awesome
/files/docs*
/files/*.sh
/files/ide.*js
/files/version.txt
/files/generate_dsuikit.js
/app/

# hidden files
_*.htm
~*

# temporary
docs-de
de
