
# node packages
node_modules/

# stuff
/files/json/**/*.txt
/files/json/**/*.md
/files/json/**/*.js
/files/json/**/navs.json
/files/json/**/*.json

/files/version.txt
/files/generate_dsuikit.js
files/test/
files/samples?*/

/out/
/app/
/version.txt
samples*.txt

# hidden files
~*
*.key
*-test*

